<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="qpidConnectionFactory" class="org.apache.qpid.jms.JmsConnectionFactory">
        <property name="remoteURI" value="amqp://localhost:5672"/>
    </bean>

</beans>
